.a{
    background-color: lightpink;
    font-family:Verdana, 'DejaVu Sans', sans-serif
}
#b{
    color: blue;
    font-size: 36px;
}
.a.d{
    font-size: 24px;
}
#c{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}